html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
}
/* Defaults */
img {
    max-width: 100%;
    height:auto;
}
/* Full width container */
.container-outer-wrapper {
    width: 100%;
}
/* Navbar */
nav ul a {
    font-size: 1.4rem;
}
/* Helper classes */
/* center content that uses flexbox */
.flex-justify-center {
    justify-content: center;
}
/* Material Icons */
.material-icons.orange600 { 
    color: #FB8C00; 
}
i.material-icons.small {
    font-size: 3rem;
}
/* extended material icons */
.mdi.small {
    font-size:3rem;
}
.mdi.medium {
    font-size:4rem;
}
/* Hero Image */
.homepage.hero-image {
    background: red;
}
/* Modal adjustments */
.modal-footer.center-align {
    text-align: center;
}
.modal-content.card-panel {
    margin-top: 0;
}
/* make modal footer auto height as delete button was hidden */
.modal .modal-footer {
    height: auto;
}
/* Recipe Single page */
.recipe-details {
    border-bottom: 1px solid #ccc;
    padding-bottom: 30px;
    margin-bottom: 30px;
}
.nutrition, .chef-notes {
    border-top: 1px solid #ccc;
    padding-top: 30px;
    margin-top: 30px;
}
.recipe-summary-item:not(:last-child) {
    border-right: 1px solid #bababa;
}
.recipe-summary-item .value {
    font-size: 5rem;
}
/* show line breaks */
.ingredients-method,
.chef-notes,
.nutrition {
    white-space: pre-wrap;
}
/* Forms */
.input-field .prefix {
    font-size: 2.4rem;
}
label,
.input-field > label {
    font-size: 1.4rem;
}
/* Flashes */
.flashes li {
    padding: 15px;
    font-weight: 600;
}
.flashes .material-icons {
    font-size: 40px;
    font-weight: bold;
}
/*--------------------- Media Queries --------------------*/
/* Tablet / iPad */
@media screen and (min-width: 768px) {
    /* Manage Category cards */
    .categories .card {
        display: flex;
        justify-content: space-between;
    }
    .categories .card .card-action {
        border-top: none;
        padding: 24px;
    }
}