html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
}
/* Defaults */
img {
    max-width: 100%;
    height:auto;
}
/* Navbar */
nav ul a {
    font-size: 1.4rem;
}
/* Helper classes */
/* center content that uses flexbox */
.flex-justify-center {
    justify-content: center;
}
/* Material Icons */
.material-icons.orange600 { 
    color: #FB8C00; 
}
/* extended material icons */
.mdi.medium {
    font-size:4rem;
}
/* Recipe Single page */
.recipe-details {
    border-bottom: 1px solid #ccc;
    padding-bottom: 30px;
    margin-bottom: 30px;
}
.recipe-summary-item:not(:last-child) {
    border-right: 1px solid #bababa;
}
.recipe-summary-item .value {
    font-size: 5rem;
}
/* Forms */
.input-field .prefix {
    font-size: 2.4rem;
}
.input-field > label {
    font-size: 1.4rem;
}
