html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
}
/* Defaults */
img {
    max-width: 100%;
    height:auto;
}
/* Full width container */
.container-outer-wrapper {
    width: 100%;
}
/* Navbar */
nav ul a {
    font-size: 1.4rem;
}
/* Helper classes */
/* center content that uses flexbox */
.flex-justify-center {
    justify-content: center;
}
/* Text alignment */
.text-left {
    text-align: left;
}
.text-center {
    text-align: center;
}
/* screen reader only */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border: 0;
}
.screen-reader-link:focus {
    clip: auto !important;
    height: auto;
    width: auto;
    display: block;
    font-weight: bold;
    padding: 15px 25px 15px;
    color: #333;
    background: #fff;
    z-index: 100000;
    text-decoration: none;
    -webkit-box-shadow: 0 0 2px 2px rgba(0,0,0,.5);
            box-shadow: 0 0 2px 2px rgba(0,0,0,.5);
}
/* Material Icons */
.material-icons.orange600 { 
    color: #FB8C00; 
}
i.material-icons.small {
    font-size: 3rem;
}
.btn i {
    font-size: 2.1rem;
}
.btn-large i {
    font-size: 2.6rem;
}
/* extended material icons */
.mdi.small {
    font-size:3rem;
}
.mdi.medium {
    font-size:4rem;
}
/* Hero Image */
.homepage.hero-image {
    background: url(../images/homepage-hero-mobile-576x1024.jpg) no-repeat;
    background-size: cover;
    position: relative;
}
.hero-image:before,
.title-panel:before {
    content: "";
    background-color: rgba(0,0,0,0.6);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}
.hero-image > .container,
.title-panel > .container {
    position: relative;
    z-index: 2;
}
/* Modal adjustments */
.modal-footer.center-align {
    text-align: center;
}
.modal-content.card-panel {
    margin-top: 0;
}
/* make modal footer auto height as delete button was hidden */
.modal .modal-footer {
    height: auto;
}
/* Recipe Single page */
.recipe-details {
    border-bottom: 1px solid #ccc;
    padding-bottom: 30px;
    margin-bottom: 30px;
}
.nutrition, .chef-notes {
    border-top: 1px solid #ccc;
    padding-top: 30px;
    margin-top: 30px;
}
.recipe-summary-item:not(:last-child) {
    border-right: 1px solid #bababa;
}
.recipe-summary-item .value {
    font-size: 5rem;
}
/* show line breaks */
.ingredients-method,
.chef-notes,
.nutrition {
    white-space: pre-wrap;
}
/* Forms */
/* home category select */
.category-select .select-wrapper input.select-dropdown,
input[type=text].white-rounded {
    color: #fff;
    border: 2px solid #fff;
    border-radius: 30px;
    padding: 20px;
    box-sizing: border-box;
    height: 5rem;
}
/* placeholder */
.white-rounded::-webkit-input-placeholder {
    color:#fff;
}
.white-rounded::-moz-placeholder {
    color:#fff;
}
.white-rounded:-ms-input-placeholder {
    color:#fff;
}
.white-rounded::-ms-input-placeholder {
    color:#fff;
}
.white-rounded::placeholder {
    color:#fff;
}

/* over write materialise style for valid/invalid input */
input.white-rounded.invalid[type=text]:not(.browser-default) {
    border-color: #F44336;
}
input.white-rounded.valid[type=text]:not(.browser-default),
input.white-rounded.valid[type=text]:not(.browser-default):focus {
    border-color: #4CAF50;
}
.category-select  .select-wrapper .caret {
    fill: rgb(255,255,255);
    right: 15px;
}
.input-field .prefix {
    font-size: 2.4rem;
}
label,
.input-field > label {
    font-size: 1.4rem;
}
.btn-rounded {
    border: 2px solid #fff;
    border-radius: 30px;
}
/* attached button to right of field */
.button-right,
.col .button-right {
    padding-right: 0;
}
.button-right input[type=text] {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.field-left,
.col .field-left {
    padding-left: 0;
}
.field-left button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-top: -8px;
    line-height: 50px;
    height: 50px;
    width: 100%;
}
.field-left button .material-icons {
    margin-left: -5px;
}

/* Flashes */
.flashes li {
    padding: 15px;
    font-weight: 600;
}
.flashes .material-icons {
    font-size: 40px;
    font-weight: bold;
}
/*--------------------- Media Queries --------------------*/

/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 576px) {
    /* Text alignment */
    .text-sm-left {
        text-align: left;
    }
    .text-sm-center {
        text-align: center;
    }
}
/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {
    /* Text alignment */
    .text-md-left {
        text-align: left;
    }
    .text-md-center {
        text-align: center;
    }
    /* Manage Category cards */
    .categories .card {
        display: flex;
        justify-content: space-between;
    }
    .categories .card .card-action {
        border-top: none;
        padding: 24px;
    }
}
/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {
    /* Text alignment */
    .text-lg-left {
        text-align: left;
    }
    .text-lg-center {
        text-align: center;
    }
}
/* Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
    /* Text alignment */
    .text-xl-left {
        text-align: left;
    }
    .text-xl-center {
        text-align: center;
    }
}