{% extends 'base.html' %}

{% block content %}
    <h1>All Recipes</h1>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flashes">
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    {% for recipe in recipes %}
       <h2>{{recipe.title}}</h2>
       <p>{{recipe.category_name}} - {{recipe.course_name}}</p>
       {% if recipe.image_url %}
                <img src="{{recipe.image_url}}" alt="{{recipe.title}}"/>
            {% else %}
                <img src="{{url_for('static', filename='images/recipe-no-image-843x562.jpg')}}" alt="no image available"/>
        {% endif %}
       <p>{{recipe.short_description}}</p>
       <a href="{{url_for('single_recipe', recipe_id=recipe._id)}}">View</a>
   {% endfor %}

{% endblock %}