{% extends 'base.html' %}
{% block title %}All {{ category|capitalize }}{{ course_name }} Recipes - {% endblock %}

{% block content %}
<!-- Search title panel -->
<div class="all-recipes-hero title-panel">
    {% include 'layout/flash-messages.html' %}
    <div class="container white-text">
        <!-- title -->
        <div class="row">
            <div class="col s12">
                <h1 class="text-center text-sm-left">All Recipes</h1>
                <div class="text-center text-sm-left">By Category <span
                        class="mdi prefix mdi-food-drumstick"></span>
                </div>
            </div>
        </div>
        {% include 'layout/search-panel.html' %}
    </div>
</div>
<div class="container">   
    {% if recipes|length  > 0 %}
        <div class="row flex-grid">
            {% for recipe in recipes %}
                <div class="col m6 l4">
                    <div class="card blue-grey lighten-5">
                        <div class="card-image">
                            {% if recipe.image_url %}
                                <div class="recipe-image-wrap" style="background-image: url('{{recipe.image_url}}');">
                                    <img src="{{recipe.image_url}}" alt="{{recipe.title}}" class="sr-only"/>
                                </div>
                                
                            {% else %}
                                <div class="recipe-image-wrap no-img" style="background-image: url('{{url_for('static', filename='images/recipe-no-image-480x320.jpg')}}')">
                                    <img src="{{url_for('static', filename='images/recipe-no-image-480x320.jpg')}}" alt="no image available for {{recipe.title}}" class="sr-only"/>
                                </div>
                            {% endif %}
                        </div>
                        <div class="card-content">
                            <h3 class="card-title"><a href="{{url_for('single_recipe', recipe_id=recipe._id)}}">{{recipe.title}}</a></h3>
                            <div class="row recipe-card-meta valign-wrapper">
                                <div class="col s6 valign-wrapper"><span class="mdi small prefix mdi-pasta"></span>{{recipe.course_name}}</div>
                                <div class="col s3 valign-wrapper"><i class="small material-icons">access_time</i>{{recipe.total_time}}</div>
                                <div class="col s3 valign-wrapper"><i class="small material-icons">people</i>{{recipe.portions}}</div>
                            </div>

                            <p>{{recipe.short_description}}</p>
                            <a class="waves-effect waves-light btn-large" href="{{url_for('single_recipe', recipe_id=recipe._id)}}"><i class="material-icons right">chevron_right</i>View recipe</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="row">
            <div class="col s12"><p>No recipes found for that search term</p></div>
        </div>
    {% endif %}
</div>
{% endblock %}