{% extends 'base.html' %}
{% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flashes">
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    
{% block content %}
    <h1>All Recipes</h1>

    {% for recipe in recipes %}
       <h2>{{recipe.title}}</h2>
       <p>{{recipe.category_name}} - {{recipe.course_name}}</p>
       {% if recipe.image_url %}
                <img src="{{recipe.image_url}}" alt="{{recipe.title}}"/>
            {% else %}
            <picture>
                <source media="(max-width: 480px)" 
                srcset="{{url_for('static', filename='images/recipe-no-image-480x320.jpg')}}">
                <img src="{{url_for('static', filename='images/recipe-no-image-843x562.jpg')}}" alt="no image available"/>
            </picture>
        {% endif %}
       <p>{{recipe.short_description}}</p>
       <a href="{{url_for('single_recipe', recipe_id=recipe._id)}}">View</a>
   {% endfor %}

{% endblock %}