<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}Your Recipe Hub</title>
    <!-- Favicon and theme colour -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{url_for('static', filename='images/apple-touch-icon.png')}}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{url_for('static', filename='images/favicon-32x32.png')}}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{url_for('static', filename='images/favicon-16x16.png')}}">
    <link rel="manifest" href="{{url_for('static', filename='images/site.webmanifest')}}">
    <link rel="mask-icon" href="{{url_for('static', filename='images/safari-pinned-tab.svg')}}" color="#25b35f">
    <link rel="shortcut icon" href="{{url_for('static', filename='images/favicon.ico')}}">
    <meta name="msapplication-TileColor" content="#00a300">
    <meta name="msapplication-config" content="{{url_for('static', filename='images/browserconfig.xml')}}">
    <meta name="theme-color" content="#25b35f">
    <!-- fonts -->
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Yanone+Kaffeesatz:wght@400;700&display=swap"
        rel="stylesheet">
    <!-- materialize font icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- extended material icons -->
    <link rel="stylesheet" href="//cdn.materialdesignicons.com/5.4.55/css/materialdesignicons.min.css">
    <!-- CSS  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="{{url_for('static', filename='css/style.css')}}" rel="stylesheet">
    {% block printcss %}{% endblock %}
</head>

<body>
    <a href="#maincontent" class="screen-reader-link sr-only">Skip to main content</a>
    <header>
        <nav>
            <div class="nav-wrapper">
                <a id="logo-container" href="{{url_for('index')}}" class="brand-logo"><img
                        src="{{url_for('static', filename='images/your-recipe-hub-logo.svg')}}"
                        alt="Your Recipe Hub logo"></a>
                <ul id="desktop-nav" class="right hide-on-med-and-down">
                    <li><a href="{{url_for('index')}}">Home</a></li>
                    <li><a href="{{url_for('all_recipes')}}">All Recipes</a></li>
                    <li><a href="{{url_for('course_list', course_name='Starter')}}">Starters</a></li>
                    <li><a href="{{url_for('course_list', course_name='Main Course')}}">Main Courses</a></li>
                    <li><a href="{{url_for('course_list', course_name='Dessert')}}">Dessert</a></li>
                    <li><a href="{{url_for('course_list', course_name='Other')}}">Other</a></li>
                    <li class="vert-divider"></li>
                    {% if session.user %}
                    <li><a class="nav-dropdown-trigger valign-wrapper" href="#!" data-target="account-dropdown">Account Actions<i class="material-icons right">arrow_drop_down</i></a></li>
                    {% else %}
                        <li><a href="{{url_for('register')}}">Register</a></li>
                        <li><a href="{{url_for('login')}}">Log in</a></li>
                    {% endif %}
                    <li><a href="{{url_for('add_recipe')}}" class="btn btn-large btn-rounded">Add Recipe</a></li>
                </ul>
                <!-- Dropdown Structure -->
                <ul id="account-dropdown" class="dropdown-content">
                    <li><a href="{{url_for('profile', user_name=session['user'])}}">Your Profile</a></li>
                    <li><a href="{{url_for('add_recipe')}}">Add a Recipe</a></li>
                    <li><a href="{{url_for('get_categories')}}">Manage Categories</a></li>
                    <li><a href="{{ url_for('pass_change')}}">Change password</a></li>
                    <li class="divider"></li>
                    <li><a href="{{url_for('logout')}}">Log out</a></li>
                </ul>
                <!-- Mobile sidenav -->
                <ul id="nav-mobile" class="sidenav">
                    <li><a class="sidenav-close" href="#!">Close Menu <i class="material-icons">close</i></a></li>
                    <li><a href="{{url_for('index')}}">Home</a></li>
                    <li><a href="{{url_for('all_recipes')}}">All Recipes</a></li>
                    <li><a href="{{url_for('course_list', course_name='Starter')}}">Starters</a></li>
                    <li><a href="{{url_for('course_list', course_name='Main Course')}}">Main Courses</a></li>
                    <li><a href="{{url_for('course_list', course_name='Dessert')}}">Dessert</a></li>
                    <li><a href="{{url_for('course_list', course_name='Other')}}">Other</a></li>
                    <li class="divider"></li>
                    {% if session.user %}
                        <li><a href="{{url_for('add_recipe')}}">Add Recipe</a></li>
                        <li><a href="{{url_for('profile', user_name=session['user'])}}">Your Profile</a></li>
                        <li><a href="{{url_for('get_categories')}}">Manage Categories</a></li>
                        <li><a href="{{ url_for('pass_change')}}">Change password</a></li>
                        <li><a href="{{url_for('logout')}}">Log out</a></li>
                    {% else %}
                        <li><a href="{{url_for('register')}}">Register</a></li>
                        <li><a href="{{url_for('login')}}">Log in</a></li>
                    {% endif %}
                    <li><a href="{{url_for('add_recipe')}}" class="btn btn-large btn-rounded">Add Recipe</a></li>
                </ul>
                <a href="#" data-target="nav-mobile" class="sidenav-trigger right"><i
                        class="material-icons">menu</i></a>
            </div>
        </nav>
    </header>
    <main id="maincontent">
        {% block content %}

        {% endblock %}
    </main><!-- /main -->
    <footer class="container-outer-wrapper">
        <div class="container">
            <div class="row text-center text-sm-left">
                <div class="col s12 m4">
                    <div class="footer-brand-logo">
                        <img src="{{url_for('static', filename='images/your-recipe-hub-logo.svg')}}"
                        alt="Your Recipe Hub logo">
                    </div>
                    <h4>Follow us</h4>
                        <ul class="social-icons-list">
                            <li>
                                <a target="_blank" href="https://twitter.com/">
                                    <span class="mdi prefix mdi-twitter"></span>
                                    <span class="sr-only">Twitter</span>
                                </a>
                            </li>
                            <li>
                                <a target="_blank" href="https://www.instagram.com/">
                                    <span class="mdi prefix mdi-instagram"></span>
                                    <span class="sr-only">Instagram</span>
                                </a>
                            </li>
                            <li>
                                <a target="_blank" href="https://www.facebook.com/">
                                    <span class="mdi prefix mdi-facebook"></span>
                                    <span class="sr-only">Facebook</span>
                                </a>
                            </li>
                            <li>
                                <a target="_blank" href="https://www.youtube.com/">
                                    <span class="mdi prefix mdi-youtube"></span>
                                    <span class="sr-only">Youtube</span>
                                </a>
                            </li>
                            <li>
                                <a target="_blank" href="https://www.pinterest.com/">
                                    <span class="mdi prefix mdi-pinterest"></span>
                                    <span class="sr-only">Pinterest</span>
                                </a>
                            </li>
                        </ul>
                </div>
                <div class="col s12 m4">
                    <div class="row text-center text-sm-left">
                        <div class="col s12">
                            <h4>Explore</h4>
                        </div>
                        <div class="col s6 m12 l6">
                            <ul class="explore-list">
                                <li><a href="{{url_for('all_recipes')}}">All Recipes</a></li>
                                <li><a href="{{url_for('course_list', course_name='Starter')}}">Starters</a></li>
                                <li><a href="{{url_for('course_list', course_name='Main Course')}}">Main Courses</a></li>
                                <li><a href="{{url_for('course_list', course_name='Dessert')}}">Dessert</a></li>
                                <li><a href="{{url_for('course_list', course_name='Other')}}">Other</a></li>
                            </ul>
                        </div>
                        <div class="col s6 m12 l6">
                            <ul class="explore-list">
                                <li><a href="{{url_for('category_list_url', category_name='beef')}}">Beef</a></li>
                                <li><a href="{{url_for('category_list_url', category_name='chicken')}}">Chicken</a></li>
                                <li><a href="{{url_for('category_list_url', category_name='pork')}}">Pork</a></li>
                                <li><a href="{{url_for('category_list_url', category_name='fish')}}">Fish</a></li>
                                <li><a href="{{url_for('category_list_url', category_name='vegan')}}">Vegan</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col s12 m4">
                    <div class="row text-center text-sm-left white-text">
                        <div class="col s12">
                            <h4>Subscribe to our newsletter</h4>
                            <p>Sign up to our monthly round up of latest recipes and news.</p>
                        </div>
                    </div>
                    <div class="row">
                        <form class="col s12" method="POST" action="{{ url_for('subscribe') }}">
                            <div class="row">
                                <div class="input-field col s12 xl6">
                                    <i class="material-icons prefix white-text">email</i>
                                    <input id="email" name="email" type="email" class="validate" required>
                                    <label class="white-text" for="email">Email</label>
                                </div>
                                <div class="input-field col s12 xl6">
                                    <button class="btn waves-effect waves-light orange" type="submit" name="action">Subscribe
                                        <i class="material-icons right">send</i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row copyright white-text">
                <div class="col s12 m6 text-center text-sm-left">
                    <p>&copy; 2020 Your Recipe Hub</p>
                </div>
                <div class="col s12 m6 text-center text-sm-right">
                    <p>Website by Kevin Bourke. For educational purposes only.</p>
                </div>
            </div>
        </div>
    </footer>
    <a href="#" class="back-to-top" title="Back To Top">
        <i class="material-icons white-text medium">keyboard_arrow_up</i>
    </a>
    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{url_for('static', filename='js/init.js')}}"></script>
    {% block rangejs %}{% endblock %}
</body>

</html>