<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Recipe Hub</title>
    <!-- CSS  -->

    <!-- materialize CSS -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- extended material icons -->
    <link rel="stylesheet" href="//cdn.materialdesignicons.com/5.4.55/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="{{url_for('static', filename='css/style.css')}}" rel="stylesheet">
</head>

<body>
    <a href="#maincontent" class="screen-reader-link sr-only">Skip to main content</a>
    <header>
        <nav class="" role="navigation">
            <div class="nav-wrapper container">
                <a id="logo-container" href="{{url_for('home_recipes')}}" class="brand-logo">Logo</a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="{{url_for('home_recipes')}}">Home</a></li>
                    <li><a href="{{url_for('all_recipes')}}">All Recipes</a></li>
                    <li><a href="{{url_for('course_list', course_name='Starter')}}">Starter</a></li>
                    <li><a href="{{url_for('course_list', course_name='Main Course')}}">Main Courses</a></li>
                    <li><a href="{{url_for('add_recipe')}}">Add Recipe</a></li>
                    <li><a href="{{url_for('get_categories')}}">Manage Categories</a></li>
                </ul>

                <ul id="nav-mobile" class="sidenav">
                    <li><a href="#">Navbar Link</a></li>
                </ul>
                <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            </div>
        </nav>
    </header>
    <main id="maincontent">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="flashes">
                    {% for message in messages %}
                    <li class="teal accent-2 z-depth-1 valign-wrapper">{{ message }}<i class="material-icons">check</i></li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    
        {% block content %}

        {% endblock %}
    </main><!-- /main -->
    <footer class="container-outer-wrapper">
        <div class="container">
            <div class="row">
                <div class="col s12 l4">
                    COLUMN
                </div>
                <div class="col s12 l4">
                    COLUMN
                </div>
                <div class="col s12 l4">
                    COLUMN
                </div>
            </div>
        </div>
    </footer>
    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{url_for('static', filename='js/init.js')}}"></script>
</body>
</html>