{% extends 'base.html' %}
{% block title %}Manage Categories - {% endblock %}
{% block content %}
<div class="title-panel">
    <div class="container">
        <div class="row">
            <h1 class="page-title text-center text-sm-left"><span class="mdi prefix mdi-shape-outline"></span> Manage Categories</h1>
        </div>
    </div>
</div>
{% include 'layout/flash-messages.html' %}
<div class="container">
    <a class="waves-effect waves-light btn-large" href="{{url_for('add_category')}}">Add Category <i class="material-icons right">library_add</i></a>
    <div class="row categories">
        {% for category in categories %}
            <div class="col-12">
                <div class="card teal lighten-4">
                    <div class="card-content">
                        <span class="card-title">{{ category.category_name|capitalize }}</span>
                    </div>
                    <div class="card-action">
                        <a href="{{ url_for('edit_category', category_id=category._id) }}" class="waves-effect waves-light amber darken-3 btn">Edit Category</a>
                        <a href="#delete-{{category._id}}"
                            class="waves-effect waves-light btn red darken-2 modal-trigger">
                            <i class="material-icons right">delete</i>Delete
                            this category</a>
                    </div>
                </div>
            </div>

            <!-- Delete recipe Modal Structure -->
            <div id="delete-{{category._id}}" class="modal">
                <div class="modal-content card-panel orange darken-3 white-text">
                    <h4>Warning</h4>
                    <p>This action will delete this category - <strong>{{category.category_name|capitalize}}</strong>. Are you sure you want to delete it?</p>
                </div>
                <div class="modal-footer center-align">
                    <a href="#!" class="modal-close waves-effect waves-green btn-flat">No, do not delete</a>
                    <a href="{{ url_for('delete_category', category_id=category._id) }}"
                        class="btn waves-effect waves-light btn-small red darken-2"><i class="material-icons right">delete</i>Yes, Delete
                        this category</a>
                </div>
            </div>

        {% endfor%}
    </div>
</div>
{% endblock %}