{% extends 'base.html' %}
{% block content %}
<h1><span class="mdi prefix mdi-shape-outline"></span> Manage Categories</h1>
<div class="row categories">
    <div class="col-12">
        <div class="card teal lighten-4">
            <div class="card-content">
                <span class="card-title">Card Title</span>
            </div>
            <div class="card-action">
                <a href="#" class="waves-effect waves-light amber darken-3 btn">Edit Category</a>
                <a href="#" class="waves-effect waves-light red darken-3 btn">Delete Category</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}