{% extends 'base.html' %}
{% block title %}Change your password - {% endblock %}
{% block content %}
<div class="title-panel">
    <div class="container">
        <div class="row">
            <h1 class="page-title text-center text-sm-left">Change Password for {{ user_name }}</h1>
        </div>
    </div>
</div>
{% include 'layout/flash-messages.html' %}
<div class="container">
    <div class="row">
        <div class="col s12 center-align">
            <h2>Change your password here</h2>
            <p>Please use between 5 and 15 letters or numbers</p>
        </div>
    </div>
    <div class="row">
        <form class="col s12 m4 offset-m4 card-panel grey lighten-5" method="POST" action="{{ url_for('pass_change') }}">
            <!-- Password -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">lock</i>
                    <input id="password" name="password" type="password" minlength="5" maxlength="15" 
                    pattern="^[a-zA-Z0-9]{5,15}$" onchange="confirmpass.pattern = this.value;" class="validate" required>
                    <label for="password">Password</label>
                </div>
            </div>
            <!-- Confirm Password -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">lock</i>
                    <input title="Please enter the same Password as above" id="confirmpass" name="confirmpass" type="password" minlength="5" maxlength="15" class="validate" required>
                    <label for="confirmpass">Confirm Password</label>
                </div>
            </div>
            <!-- Register button -->
            <div class="row">
                <div class="col s12 center-align">
                    <button class="btn waves-effect waves-light btn-large" type="submit">Change password
                        <span class="mdi prefix mdi-login-variant"></span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}