{% extends 'base.html' %}

{% block content %}
<div class="homepage hero-image">
    <div class="container white-text">
        <div class="row">
            <form class="col s12" method="GET" action="{{ url_for('category_list') }}">
                <!-- title, category and course -->
                <div class="row">
                    <div class="col s12">
                        <h1 class="text-center text-lg-left">Find a Recipe</h1>
                        <div class="text-center text-lg-left">By Category <span
                                class="mdi prefix mdi-food-drumstick"></span></div>
                    </div>
                    <div class="input-field category-select col s12 m6">
                        <select id="category_name" name="category_name" class="validate" required>
                            <option value="" disabled selected>Select category</option>
                            {% for category in categories %}
                            <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                            {% endfor %}
                        </select>
                        <label for="category_name" class="sr-only">Food Category</label>
                    </div>
                    <!-- submit button -->
                    <div class="col s12 m6 text-center text-sm-left">
                        <button class="btn waves-effect waves-light btn-large btn-rounded" type="submit">Search
                            <i class="material-icons right">search</i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <!-- index search -->
        <div class="row">
            <div class="col s12 m6">
                <div class="text-center text-lg-left">Or Search Keyword</div>
                <form action="{{ url_for('search') }}" method="post" class="">
                    <div class="row valign-wrapper">
                        <div class="input-field button-right col s9 m10">
                            <input type="text" name="query" id="query" minlength="3" maxlength="30"
                                placeholder="Search Recipes" class="validate white-rounded" required>
                            <label for="query" class="sr-only">Search Recipes</label>
                        </div>
                        <div class="col s3 m2 field-left">
                            <button type="submit" class="waves-effect waves-dark btn white btn-rounded"><i
                                    class="material-icons grey-text darken-4">search</i></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col s12 m4">
            <h2>About Us</h2>
        </div>
        <div class="col s12 m8">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec venenatis rutrum nisi vel aliquam. Donec
                vehicula vel ligula eget posuere. Ut egestas scelerisque augue a ultrices. Vestibulum metus metus,
                tristique eget tellus egestas, euismod blandit erat. Praesent tellus augue, aliquet a ultrices eu,
                varius convallis ante. Nam sit amet nisl et urna maximus ornare. Nunc in molestie justo. Praesent
                tincidunt ornare orci, vitae interdum lorem lacinia placerat. Aliquam eleifend facilisis accumsan.</p>
        </div>
    </div>
</div>
<div class="container-outer-wrapper grey lighten-4">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h2>What are you looking for?</h2>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m6 l3">
                <div class="card">
                    <div class="card-image">
                        <img src="static/images/recipe-no-image-480x320.jpg">
                        <span class="card-title"><a href="{{url_for('course_list', course_name='Starter')}}">Starters</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}