{% extends 'base.html' %}

{% block content %}
<!-- Search title panel -->
<div class="search-hero title-panel">
    {% include 'layout/flash-messages.html' %}
    <div class="container white-text">
        <!-- title -->
        <div class="row">
            <div class="col s12 text-center text-sm-left">
                <h1>Find a Recipe</h1>
                <div>By Category <span
                    class="mdi prefix mdi-food-drumstick"></span>
                </div>
            </div>
        </div>
        {% include 'layout/search-panel.html' %}
    </div>
</div>
<!-- about -->
<div class="container">
    <div class="row">
        <div class="col s12 m4">
            <h2>About Us</h2>
        </div>
        <div class="col s12 m8">
            <p>Are you always looking at new recipes online, and trying to figure out ways to save those precious family recipes that are on notecards slowly deteriorating from overuse? Do you have a wonderful recipe that you’d like to share? Your Recipe Hub allows you to submit your recipes so they are saved and easy to access. We would love for you to upload it for the Your Recipe Hub Community! To submit your tasty recipe, please register and login to upload your recipes.</p>
        </div>
    </div>
</div>
<!-- courses grid -->
<div class="container-outer-wrapper bg-secondary">
    <div class="container courses">
        <div class="row">
            <div class="col s12">
                <h2>What are you looking for?</h2>
            </div>
        </div>
        <div class="row">
            <div class="col s6 m6 l3">
                <div class="card">
                    <div class="card-image">
                            <a href="{{url_for('course_list', course_name='Starter')}}">
                            <img src="static/images/starter-courses.jpg">
                            <span class="card-title">Starters</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col s6 m6 l3">
                <div class="card">
                    <div class="card-image">
                        <a href="{{url_for('course_list', course_name='Main Course')}}">
                            <img src="static/images/main-courses.jpg">
                            <span class="card-title">Mains</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col s6 m6 l3">
                <div class="card">
                    <div class="card-image">
                            <a href="{{url_for('course_list', course_name='Dessert')}}">
                            <img src="static/images/dessert-courses.jpg">
                            <span class="card-title">Dessert</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col s6 m6 l3">
                <div class="card">
                    <div class="card-image">
                        <a href="{{url_for('course_list', course_name='Other')}}">
                            <img src="static/images/other-courses.jpg">
                            <span class="card-title">Other</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col s12">
            <h2>Latest Recipes</h2>
        </div>
    </div>
    {% if recipes|length  > 0 %}
        <div class="row flex-grid">
            {% for recipe in recipes %}
                <div class="col m6 l4">
                    <div class="card blue-grey lighten-5">
                        <div class="card-image">
                            {% if recipe.image_url %}
                                <div class="recipe-image-wrap" style="background-image: url('{{recipe.image_url}}');">
                                    <img src="{{recipe.image_url}}" alt="{{recipe.title}}" class="sr-only"/>
                                </div>
                                
                            {% else %}
                                <div class="recipe-image-wrap no-img" style="background-image: url('{{url_for('static', filename='images/recipe-no-image-480x320.jpg')}}')">
                                    <img src="{{url_for('static', filename='images/recipe-no-image-480x320.jpg')}}" alt="no image available for {{recipe.title}}" class="sr-only"/>
                                </div>
                            {% endif %}
                        </div>
                        <div class="card-content">
                            <h3 class="card-title"><a href="{{url_for('single_recipe', recipe_id=recipe._id)}}">{{recipe.title}}</a></h3>
                            <div class="row recipe-card-meta valign-wrapper">
                                <div class="col s6 valign-wrapper"><span class="mdi small prefix mdi-pasta"></span>{{recipe.course_name}}</div>
                                <div class="col s3 valign-wrapper"><i class="small material-icons">access_time</i>{{recipe.total_time}}</div>
                                <div class="col s3 valign-wrapper"><i class="small material-icons">people</i>{{recipe.portions}}</div>
                            </div>

                            <p>{{recipe.short_description}}</p>
                            <a class="waves-effect waves-light btn-large" href="{{url_for('single_recipe', recipe_id=recipe._id)}}"><i class="material-icons right">chevron_right</i>View recipe</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="row">
            <div class="col s12"><p>No recipes found</p></div>
        </div>
    {% endif %}
</div>
{% endblock %}