{% extends 'base.html' %}
{% block title %}Your Profile - {% endblock %}
{% block content %}
<div class="title-panel">
    <div class="container">
        <div class="row">
            <h1 class="page-title text-center text-sm-left">Profile for {{ user_name }}</h1>
        </div>
    </div>
</div>
{% include 'layout/flash-messages.html' %}
<div class="container">
    <div class="row">
        <div class="col s12 m4 offset-m4 card-panel grey lighten-5">
            
        </div>
    </div>
</div>

{% endblock %}