{% extends 'base.html' %}
{% block title %}Your Profile - {% endblock %}
{% block content %}
<div class="title-panel">
    <div class="container">
        <div class="row">
            <h1 class="page-title text-center text-sm-left">Profile for {{ user_name }}</h1>
        </div>
    </div>
</div>
{% include 'layout/flash-messages.html' %}
<div class="container">
    <div class="row">
        <div class="col s12 card-panel grey lighten-5">
            <h2>Your Recipes</h2>
            <p>Below you will find all the recipes you have submitted. Go to a recipe to edit it.</p>
            {% if recipes|length  > 0 %}
            <div class="row">
                {% for recipe in recipes %}
                    <div class="col m6 l4">
                        <div class="card blue-grey lighten-5">
                            <div class="card-image">
                                {% if recipe.image_url %}
                                    <div class="recipe-image-wrap" style="background-image: url('{{recipe.image_url}}');">
                                        <img src="{{recipe.image_url}}" alt="{{recipe.title}}" class="sr-only"/>
                                    </div>
                                    
                                {% else %}
                                    <div class="recipe-image-wrap no-img" style="background-image: url('{{url_for('static', filename='images/recipe-no-image-480x320.jpg')}}')">
                                        <img src="{{url_for('static', filename='images/recipe-no-image-480x320.jpg')}}" alt="no image available for {{recipe.title}}" class="sr-only"/>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="card-content">
                                <h3 class="card-title"><a href="{{url_for('single_recipe', recipe_id=recipe._id)}}">{{recipe.title}}</a></h3>
                                <div class="row recipe-card-meta valign-wrapper">
                                    <div class="col s6 valign-wrapper"><span class="mdi small prefix mdi-pasta"></span>{{recipe.course_name}}</div>
                                    <div class="col s3 valign-wrapper"><i class="small material-icons">access_time</i>{{recipe.total_time}}</div>
                                    <div class="col s3 valign-wrapper"><i class="small material-icons">people</i>{{recipe.portions}}</div>
                                </div>

                                <p>{{recipe.short_description}}</p>
                                <a class="waves-effect waves-light btn-large" href="{{url_for('single_recipe', recipe_id=recipe._id)}}"><i class="material-icons right">chevron_right</i>View recipe</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            {% else %}
                <div class="row">
                    <div class="col s12">
                        <h3>You have not submitted any recipes yet.</h3>
                        <p>Let's get going...</p>
                        <a href="{{url_for('add_recipe')}}" class="btn btn-large green">Add a Recipe</a>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}