{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h1 class="center-align">Register</h1>
    <div class="row">
        <form class="col s12 m4 offset-m4 card-panel grey lighten-5" method="POST" action="{{ url_for('register') }}">
            <!-- Username -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">account_circle</i>
                    <input id="user_name" name="user_name" type="text" class="validate">
                    <label for="user_name">Username</label>
                </div>
            </div>
            <!-- Password -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">lock</i>
                    <input id="password" name="password" type="password" class="validate">
                    <label for="password">Password</label>
                </div>
            </div>
            <!-- Register button -->
            <div class="row">
                <div class="col s12 center-align">
                    <button class="btn waves-effect waves-light btn-large" type="submit">Register
                        <span class="mdi prefix mdi-login-variant"></span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}