{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col s12">
            <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" class="waves-effect waves-light btn-small">
                <i class="material-icons right">edit</i>Edit Recipe</a>
            <!-- Trigger modal warning -->
            <a href="#delete-recipe"
                class="waves-effect waves-light btn-small red darken-4 modal-trigger">
                <i class="material-icons right">delete</i>Delete
                this Recipe</a>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            {{recipe.course_name}} - {{recipe.category_name}}
        </div>
    </div>
    <div class="row recipe-details">
        <div class="col s12 l6">
            <h1>{{recipe.title}}</h1>
            <div class="recipe-meta">
                By {{recipe.user_name}} - {{recipe.date}}
            </div>
            <div class="row recipe-summary-wrapper">
                <div class="col s4 recipe-summary-item center-align">
                    <div class="portion-header valign-wrapper flex-justify-center">
                        <i class="medium material-icons">people</i><span>Serves</span>
                    </div>
                    <div class="portion">
                        <div class="value">{{recipe.portions}}</div>
                        <div class="unit">People</div>
                    </div>
                </div>
                <div class="col s4 recipe-summary-item center-align">
                    <div class="portion-header valign-wrapper flex-justify-center">
                        <i class="medium material-icons">access_time</i><span>Prep time</span>
                    </div>
                    <div class="portion">
                        <div class="value">{{recipe.prep_time}}</div>
                        <div class="unit">Minutes</div>
                    </div>
                </div>
                <div class="col s4 recipe-summary-item center-align">
                    <div class="portion-header valign-wrapper flex-justify-center">
                        <span class="mdi medium mdi-stove"></span><span>Cook time</span>
                    </div>
                    <div class="portion">
                        <div class="value">{{recipe.cook_time}}</div>
                        <div class="unit">Minutes</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">PRINT</div>
            </div>
        </div>
        <div class="col s12 l6">
            {% if recipe.image_url %}
            <img src="{{recipe.image_url}}" alt="{{recipe.title}}" />
            {% else %}
            <picture>
                <source media="(max-width: 480px)"
                    srcset="{{url_for('static', filename='images/recipe-no-image-480x320.jpg')}}">
                <img src="{{url_for('static', filename='images/recipe-no-image-843x562.jpg')}}" alt="no image available" />
            </picture>
            {% endif %}
        </div>
    </div>
    <div class="row recipe-description">
        <div class="col">
            <h2>Description</h2>
            <p>{{recipe.short_description}}</p>
        </div>
    </div>
    <div class="row ingredients-method">
        <div class="col l5">
            <h2>Ingredients</h2>
            <p>{{recipe.ingredients}}</p>
        </div>
        <div class="col l7">
            <h2>Method</h2>
            <p>{{recipe.method}}</p>
        </div>
    </div>
    <div class="row chef-notes">
        <div class="col">
            <h2>Chef's Notes</h2>
            <p>{{recipe.chef_notes}}</p>
        </div>
    </div>
    <div class="row nutrition">
        <div class="col">
            <h2>Nutritional Information</h2>
            <p>{{recipe.nutrition}}</p>
        </div>
    </div>
    <!-- Delete recipe Modal Structure -->
    <div id="delete-recipe" class="modal">
        <div class="modal-content card-panel orange darken-3 white-text">
            <h4>Warning</h4>
            <p>This action will delete this recipe. Are you sure you want to delete it?</p>
        </div>
        <div class="modal-footer center-align">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">No, do not delete</a>
            <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}"
                class="waves-effect waves-light btn-small red darken-4"><i class="material-icons right">delete</i>Yes, Delete
                this Recipe</a>
        </div>
    </div>
{% endblock %}