<!-- Flashed messages -->
<div class="container">
    <div class="row">
        <div class="col s12">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <ul class="flashes">
                        {% for category, message in messages %}
                        <li class="valign-wrapper {{ category }}"><i class="material-icons">info</i>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
        </div>
    </div>
</div>